---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: vault
  namespace: vault
spec:
  interval: 75m
  chart:
    spec:
      # renovate: registryUrl=https://helm.releases.hashicorp.com
      chart: vault
      version: 0.27.0
      sourceRef:
        kind: HelmRepository
        name: hashicorp-charts
        namespace: flux-system

  # valuesFrom:
  #   # Injected by init-job
  #   - targetPath: server.extraEnvironmentVars.VAULT_TOKEN
  #     kind: Secret
  #     name: vault-tokens
  #     optional: true
  #     valuesKey: vault_root_token
  values:
    metrics:
      enabled: true
    service:
      enabled: true
    server:
      # extraLabels:
      #   configmap.reloader.stakater.com/reload: vault-config
      dataStorage:
        enabled: true
        storageClass: "longhorn"
        size: 1Gi 
      # extraEnvironmentVars:
      #   VAULT_TOKEN: ${SECRET_VAULT_TOKEN}
      #   TZ: ${TZ}
      # extraVolumes:
      #   - type: secret
      #     name: kms-vault-unseal
      #     path: /vault/userconfig
      resources:
        requests:
          memory: 256Mi
          cpu: 250m
        limits:
          memory: 256Mi
      standalone:
        enabled: false
      # ha:
      #   enabled: true
      #   replicas: 3
      #   raft:
      #     enabled: true
      #     setNodeId: true
      #     config: |
      #       ui = true
      #       listener "tcp" {
      #         tls_disable = 1
      #         address = "[::]:8200"
      #         cluster_address = "[::]:8201"
      #       }
      #       storage "raft" {
      #         path = "/vault/data"
      #       }
      #       service_registration "kubernetes" {}
    ui:
      enabled: true
      serviceType: "ClusterIP"